$colorRedes: 
(twitter: rgb(255, 255, 255),
facebook: rgb(0, 0, 255),
instagram: rgb(197, 32, 32));

$colorfondo: #f9fcff;
$colorimage:  linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);

$colorTitulos: 
(titulo1: rgb(165, 18, 209),
titulo2: rgb(207, 87, 7),
titulo3: rgb(4, 124, 139));

$colorH1: lightblue;
$colorH2: rgb(44, 131, 160);

$colorLista: rgb(45, 45, 126);
$colorTabla: rgb(158, 92, 17);
 