@import "mixins";
@import "colores";

/*Formato para formulario de contacto*/

.formContacto{
    border: 5px solid lightgray;
    padding: 20px;

    .labelContacto{
        @include fontSize(1.1rem, 700);
        color: $colorH2;
        margin-bottom: 10px;
        padding: 5px;
        text-decoration: underline;
    }
}