@import "mixins";
@import "colores";

main{
  background-color: $colorfondo;
  background-image: $colorimage;
  div .h1{
    margin-top: 1rem;
    @include fontSize(3rem, 800);
    color:lightblue;
    height: 100%;
  }

  .rowMain{
    &:hover{
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
  }

    .tituloMain1 {
      text-transform: uppercase;
      color: map-get($map: $colorTitulos, $key: titulo1);
      span {
        @include fontSize(1.5rem, 300);
        &:hover {
          text-decoration: underline;
        }      
      }
    } 

  .tituloMain2 {
    @extend .tituloMain1;
    color: map-get($map: $colorTitulos, $key: titulo2);
  }

  .tituloMain3 {
    @extend .tituloMain1;
    color: map-get($map: $colorTitulos, $key: titulo3);
  }

  .textoMain{
    @include fontSize(1.2rem, 200);
    text-align: center;
  }


}


