//IMPORTO BOOTSTRAP

@import "scss/bootstrap.scss";

/* Variables */

$negro: rgba(4, 37, 0, 1);
$verde: rgba(60, 161, 70, 1);
$verdeoscuro: darkgreen;

/* Uso de mixing desafio */

@mixin fontSize($tamanio, $peso){
  font-size: $tamanio;
  font-weight:$peso;
}

.letraTitulo{
  @include fontSize(2.5rem, 800)
}

.letraSpan{
  @include fontSize(1rem, 300)
}

/* Uso de extend desafio */

.tituloMain1{
  color: rgb(165, 18, 209);
  span{
    background-color:antiquewhite;
    font-size: medium;
    &:hover{
      text-decoration: underline;
    }
  }
}

.tituloMain2{
  @extend .tituloMain1;
  color:rgb(207, 87, 7);
}

.tituloMain3{
  @extend .tituloMain1;
  color: rgb(4, 124, 139);
}

/* Uso de maps desafio */

$colorRedes: 
(twitter: rgb(255, 255, 255),
facebook: rgb(0, 0, 255),
instagram: rgb(197, 32, 32));

.iconoFacebook{
  color: map-get($map: $colorRedes, $key: facebook)
}

.iconoTwitter{
  color: map-get($map: $colorRedes, $key: twitter)  
}
.iconoInstagram{
  color: map-get($map: $colorRedes, $key: instagram)  
}


